.Header{
    
    height:5.5rem;
  
    background: #dbdffa;
}
.continerHedar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem 1rem;
    align-items: center;
    margin-top: -1rem;
}
.logo{
    width: 4rem;
    margin-top: 1rem;
}
.loginHbutton{
    width: 5rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: #3949AB;
    color:white;
    font-size: larger;
    
}
.loginHbutton:hover{
    cursor: pointer;
    
    background: #162aac;
    
}
.contentHeaderUser{
    display: flex;
    align-items: center;
    gap:1rem
}
.contentHeaderUser p{
    font-size: large;
    color:#3949AB;
}
.userImage>img{
    width: 3rem;
    border-radius: 50%;
}
.userImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
}
.dropdownLogout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
li{
    list-style-type: none
}
.box{
    position: absolute;
    height: 2rem;
    margin-top: 3.2rem

    
  }
.box>button{
    border:none;
    background: gray;
    color:white;
    height: 1.5rem;
    font-size: large;
    border-radius: 0.5rem;
    
}

  .buttonLogout{
    margin-top: 2rem;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    
  }
  .hidden {
    display: none;
  }
